{% block script %}
<body background="https://i.pinimg.com/originals/be/20/14/be2014e62e8cfbbda35f47670c9154c1.jpg">
{% endblock %}
{% extends "base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Error 404</h1>
    <h3>This page is still under management</h3>
    <hr class="my_4">
    <p>Disclaimer: this project was never declared 100% done. What you can do is to return to the prev. page</p>
    <p>Anyways, it may be either your or our fault. Either way, this is not working.</p>
  </div>
</div>
{% endblock %}
