{% extends "base.html" %}
{% block body_block %}
<main role="main">
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Privacy</h1>
    <p>This page is about the privacy stuffs. Please read these sh!ts carefully since one day they may help you or f**k you up... whether you read it or not, really depends on you</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Note 1</h2>
      <p>First of all, we won't share your personal information with other people. Even if it can be sold, we still won't mainly because we can't... just wait until one day when ads cram up your Gmail inbox :v</p>
    </div>
    <div class="col-md-4">
      <h2>Note 2</h2>
      <p>The second point, we won't track your location whenever you use our website. Frankly speaking, there ain't no shitty use if we track you; in fact, it wastes our database. Besides, who ever goes on to this website?</p>
    </div>
    <div class="col-md-4">
      <h2>Note 3</h2>
      <p>The last statement, we won't view your account details without permission. The point of looking at personal information is that they are worth stalking, but I don't think that's the case happening right here right now</p>
    </div>
  </div>
</div>
{% endblock %}